@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
  background-color: rgb(15, 15, 15);
  color: rgb(111, 111, 111);
  --focus-color: rgb(0, 66, 189);
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
}
